
<nav class="navbar navbar-expand-md text-primary  " style="background-color: #35d69b; " >
  <div class="container">
    <a class="navbar-brand" routerLink="/">Health Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"   routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctors"  routerLinkActive="active-link" >Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Appointments"  routerLinkActive="active-link" >Appointments</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login"  routerLinkActive="active-link" >Log in</a>
        </li>

        <li class="nav-item">
          <span role="button" class="nav-link" (click)="singout()"  routerLinkActive="active-link" routerLink="/login" >Log out</span>
        </li>
      </ul>

    </div>
  </div>
</nav>
