*{
    color: white;
}


.bg-g1{
    background-color: #11235A;
}
.bg-g2{
    background-color: #596FB7;
}
.bg-g3{
    background-color: #C6CF9B;
}
.bg-g3{
    background-color: #F6ECA9;
}

.c-g1{
   color: #11235A;
}

.fs-20{
    font-size: 30px;
}






