<section>
  <h1 class="text-center pt-5">Patient Appointment </h1>
  <div class="container1 d-flex flex-column flex-md-row p-5">
    <div class="img">
      <img src='https://cdn-icons-png.freepik.com/512/5231/5231019.png' class="w-100" alt=""  style="background-color: black; border-radius: 30%; "  />
    </div>
    <div class="details ps-md-5 d-flex align-items-start">
      <div class="line h-100 border border-1"></div>

      <div class="text px-md-5 pt-3">
        <div class="title d-flex align-items-center justify-content-between">
          <h2>Patient: Gamal Younis</h2>
        </div>

        <p class="description pt-lg-2">
          <span class="fw-bold">Gender:</span>
          <span>Male</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Phone Number:</span>
          <span>0106518292</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Age:</span>
          <span>39</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Address:</span>
          <span>المنيل: شارع المنيل الرئيسي - ميدان الباشا</span>
        </p>
        <!-- Additional Details -->
        <p class="description pt-lg-2">
          <span class="fw-bold">Appointment Date:</span>
          <span>February 20, 2024</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Appointment Time:</span>
          <span>10:00 AM</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Reason for Visit:</span>
          <span>Checkup for regular health monitoring.</span>
        </p>
        <div>
          <a class="btn btn-primary " href="/dashboard" >Accept</a>
          <a class="btn text-white mx-2" href="/dashboard" style="background-color: red;" >Reject</a>
        </div>

        <!-- End Additional Details -->

      </div>
    </div>
  </div>
</section>
