<div class="container register-container w-50 p-4 ">
  <div class="card shadow border">
    <div class="card-header ">
  <h3 class="reg ">login</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" class="p-3" (ngSubmit)="handleSubmitForm()">
        <div class="form-group">
          <input
          placeholder="Enter the Email "
            type="email"
            class="form-control my-3"
            id="email"
            formControlName="email"
            name="email"
          />
          @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( loginForm.get('email')?.getError("required")) {
                <p> Email is Requried </p>
              }
              @if ( loginForm.get('email')?.getError("email")) {
              <p> Enter the email </p>
              }

        </div>
      }
        </div>
        <div class="form-group">

          <input
          placeholder="Enter the Password "
            type="password"
            class="form-control my-3"
            id="password"
            formControlName="password"
            name="password"
          />
          @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( loginForm.get('password')?.getError("required")) {
                <p> Gender is Requried </p>
              }
              @if ( loginForm.get('password')?.getError("pattern")){
                <p> min lenth 6  </p>
              }
            </div>
          }
        </div>
<div class="btnn">
  <button
  type="submit"
  class="btn w-50 mt-3 "
>
 login
</button>
</div>
      </form>
      @if (this.error) {
        <p class="alert alert-danger p-1 w-50 mx-auto mb-0">{{this.error}}</p>
      }
    </div>
  </div>
</div>

